[Unit]
Description=Finances Tracker Quadlet

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/sudo-kraken/finances-tracker:latest
Pull=newer
ContainerName=finances-tracker
HostName=finances-tracker

Environment=SECRET_KEY=

Volume=finances-tracker-db:/app/db:z

PublishPort=7070:7070
